/.apt_generated/
/target/
/temp/
/.settings/
/.project
/.factorypath
/.classpath
/.springBeans
*.iml
*.ipr
*.iws
*.pyc
.idea/
target/
*.real_output.txt
libs
*.realOutput.txt
*.log4j2-test.xml
# maven ignore
target/
*.jar
*.war
*.swp
*.zip
*.tar
*.tar.gz


# eclipse ignore
.settings/
*/.settings
/.settings/*
*/.externalToolBuilders
/.externalToolBuilders/*

.project
.classpath
*.project
*.settings
*.classpath
*target

# idea ignore
.idea/
*.ipr
*.iml
*.iws
.metadata/*


# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp


# system ignore
.DS_Store
Thumbs.db


*.class
*/target
*/target/*
*/bin
*/bin/*
*.prefs
/*.project

# npm ignore
*/node_modules
*/node_modules/*
*/dist